<!--<div class="col-lg-5">

    <form #loginForm="ngForm" (ngSubmit)="login()" class="col-lg-12">

        <p>
            <label>Username</label>
            <input type="text" name="username" #username="ngModel" [(ngModel)]="input.username" class="form-control" required>
        </p>
        <p>
            <label>Contraseña</label>
            <input type="password" name="passwordl" #password="ngModel" [(ngModel)]="input.password" class="form-control"
                required>
        </p>
        <input type="submit" value="Entrar" name="" class="btn btn-success" [disabled]="!loginForm.form.valid">

    </form>
</div> --->

<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<!-- <div class="container">
    <div class="row">
      <div class="col">
        
      </div>
      <div class="col">
          <div align="center">
          <img src="../../../assets/imagenes/UPGCH.png" alt="" height="200px" width="200px" >
          </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col" style="border-style: solid; border-width: 3px;">
        <br>
        <h1 style="text-align:center;">BIENVENIDO</h1>
        <form #loginForm="ngForm" (ngSubmit)="login()" class="col-lg-12">

        <p>
            <label>Username</label>
            <input type="text" name="username" #username="ngModel" [(ngModel)]="input.username" class="form-control" required>
        </p>
        <p>
            <label>Contraseña</label>
            <input type="password" name="passwordl" #password="ngModel" [(ngModel)]="input.password" class="form-control"
                required>
        </p>
        
        <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                        <input type="submit" value="Ingresar" name="" class="btn btn-primary" [disabled]="!loginForm.form.valid">
                </div>
                <div class="col-lg-4"></div>
            </div>
        
        
        

        </form>
        <br>  
    </div>
    
    <div class="col">
    </div>
  </div>
</div> -->

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->

<div class="fondo"></div>

<div class="cuadrito centrado">
    <h1 style="text-align:center;padding-top:20px;">BIENVENIDO</h1>
    <form #loginForm="ngForm" (ngSubmit)="login()" class="col-lg-12">

    <p>
        <label class="texto">Username</label>
        <input type="text" name="username" #username="ngModel" [(ngModel)]="input.username" class="form-control" required>
    </p>
    <p>
        <label class="texto">Contraseña</label>
        <input type="password" name="passwordl" #password="ngModel" [(ngModel)]="input.password" class="form-control"
            required>
    </p>
    
    <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                    <input style="margin-bottom:20px; " type="submit" value="Ingresar" name="" class="btn btn-primary" [disabled]="!loginForm.form.valid">
            </div>
            <div class="col-lg-4"></div>
        </div>
    
    
    

    </form>
</div>