
<!-- home -->

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <img src="../../../assets/imagenes/UPGCH.png" alt="" height="200px" width="200px" >
        </div>
        <div class="col-lg-6">
                <div>
                        <h1 style="text-align:center;">Administracion de Alumnos</h1>
                </div>
                <!-- <form #searchForm="ngForm" class="form-inline" (ngSubmit)="buscar()">
                    <div class="input-group mb-4">
                            <label for="inputPassword2" class="sr-only">Nombre/Carrera</label>
                            <input type="text" class="form-control" id="inputPassword2" #name="ngModel" [(ngModel)]="busqueda"
                                [ngModelOptions]="{standalone: true}" class="form-control" required
                                placeholder="Nombre / Carrera">                                
                                <button type="submit" class="btn btn-primary mb-2">Buscar</button>
                                <button class="btn btn-success mb-2" (click) = "agregar()">Agregar Alumno</button>
                                
                    </div>
                </form> -->

        </div>
        <div class="col-lg-3">
            <img src="../../../assets/imagenes/UPGCH.png" alt="" height="200px" width="200px" >
        </div>
    </div>
</div>

<!--<br>-->

<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <!-- <h2>Usuarios</h2> -->
            <form #searchForm="ngForm" class="form-inline" (ngSubmit)="buscar()">
                <!---->
                <div class="form-group">
                    <label for="inputPassword2" class="sr-only">Nombre / Carrera</label>
                    <input type="text" class="form-control" id="inputPassword2" #name="ngModel" [(ngModel)]="busqueda"
                        [ngModelOptions]="{standalone: true}" class="form-control" required
                        placeholder="Nombre / Carrera">
                </div> 
                <button type="submit" class="btn btn-primary mb-2">Buscar</button>
                <!---->           <!---->
            </form>
            <div *ngIf="users">
                <div class="card" *ngFor="let user of users">

                    <h5 class="card-title">{{user.nombre}} {{user.apellidos}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{user.carrera}}</h6>
                    <p class="card-text">Edad: {{user.edad}} Dirección {{user.direccion}}</p>


                    <button type="button" class="btn btn-warning" (click)="editUser(user.id)">Editar</button>
                    <button type="button" class="btn btn-danger" (click)="deleteUser(user.id)">Eliminar</button>


                </div>
            </div>

            <div *ngIf="edit == 'true' && user">
                <h2>Editar Alumno</h2>

                <form #editForm="ngForm" (ngSubmit)="editNow()" class="col-lg-12">
                    <p>
                        <label>Nombre</label>
                        <input type="text" name="name" placeholder="" #name="ngModel" [(ngModel)]="user.nombre"
                            class="form-control" required>
                    </p>

                    <p>
                        <label>Apellidos</label>
                        <input type="text" name="name" #name="ngModel" [(ngModel)]="user.apellidos" class="form-control"
                            required>
                    </p>

                    <p>
                        <label>edad</label>
                        <input type="text" name="lastName" #lastName="ngModel" [(ngModel)]="user.edad"
                            class="form-control" required>
                    </p>
                    <p>
                        <label>sexo</label>
                        <input type="text" name="lastName" #lastName="ngModel" [(ngModel)]="user.sexo"
                            class="form-control" required>
                    </p>
                    <p>
                        <label>dirección</label>
                        <input type="text" name="lastName" #lastName="ngModel" [(ngModel)]="user.direccion"
                            class="form-control" required>
                    </p>
                    <p>
                        <label>carrera</label>
                        <input type="text" name="lastName" #lastName="ngModel" [(ngModel)]="user.carrera"
                            class="form-control" required>
                    </p>

                    <input type="submit" value="Editar" class="btn btn-success">
                </form>

            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>



<!--<h2>Usuarios</h2>
<form #searchForm="ngForm" class="form-inline" (ngSubmit)="buscar()">
    <div class="form-group">
        <label for="inputPassword2" class="sr-only">Nombre / Carrera</label>
        <input type="text" class="form-control" id="inputPassword2" #name="ngModel" [(ngModel)]="busqueda" [ngModelOptions]="{standalone: true}" class="form-control"
        required placeholder="Nombre / Carrera">
      </div>
    <button type="submit" class="btn btn-primary mb-2">Buscar</button>
</form>
<div *ngIf="users">
    <div class="card" *ngFor="let user of users">

        <h5 class="card-title">{{user.nombre}} {{user.apellidos}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{user.carrera}}</h6>
        <p class="card-text">Edad: {{user.edad}} Dirección {{user.direccion}}</p>


        <button type="button" class="btn btn-secondary" (click)="editUser(user.id)">Editar</button>
        <button type="button" class="btn btn-danger" (click)="deleteUser(user.id)">Eliminar</button>


    </div>
</div>

<div *ngIf="edit == 'true' && user">
    <h2>Editar Alumno</h2>

    <form #editForm="ngForm" (ngSubmit)="editNow()" class="col-lg-12">
        <p>
            <label>Nombre</label>
            <input type="text" name="nombre" placeholder="" #nombre="ngModel" [(ngModel)]="user.nombre" class="form-control"
                required>
        </p>

        <p>
            <label>Apellidos</label>
            <input type="text" name="apellido" #apellido="ngModel" [(ngModel)]="user.apellidos" class="form-control" required>
        </p>

        <p>
            <label>edad</label>
            <input type="text" name="edad" #edad="ngModel" [(ngModel)]="user.edad" class="form-control"
                required>
        </p>
        <p>
            <label>sexo</label>
            <input type="text" name="sexo" #sexo="ngModel" [(ngModel)]="user.sexo" class="form-control"
                required>
        </p>
        <p>
            <label>dirección</label>
            <input type="text" name="direccion" #direccion="ngModel" [(ngModel)]="user.direccion" class="form-control"
                required>
        </p>
        <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Carreras
            </button>
            <div class="dropdown-menu" *ngIf="carreras">
                <p class="dropdown-item" *ngFor="let carrera of carreras" (click)="setCarrera(carrera.id)">{{carrera.nombre_carrera}}</p>
            </div>
        </div>

        <input type="submit" value="Editar" class="btn btn-success">
    </form>

</div> -->


<!-- 
-->

















<!--<register></register>--> 